.btn-orange {
  background-color: var(--orange);
  color: black;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: white;
  color: black;
}
